.switch-button {
    width: 400px;
    height: 40px;
    text-align: center;
    position: relative;
    top: 10vh;
    will-change: transform;
    z-index: 197;
    cursor: pointer;
    transition: 0.3s ease all;
    border: 1px solid var(--secondary-color);
    outline: none;
  }
  
  button {
    display: inline-block;
    background: none;
    width: 49%;
    height: 100%;
    color: var(--secondary-color);
    position: relative;
    border: none;
    transition: 0.3s ease all;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding-bottom: 1px;
    outline: none;
  }
  
  button:hover {
    color: var(--third-color);
    cursor: pointer;
  }
  
  .switch-button-case:focus {
    outline: none;
  }
  
  .switch{
    background-color: var(--secondary-color);
    width: 49%;
    height: 100%;
    padding: 0;
    position: absolute;
    left: 0;
    transition: .5s ease all;
    outline: none;
  }

  .switch-button.switch-button-case-left .switch{
    left: 0;
  }

    .switch-button.switch-button-case-right .switch{
        left: 51%;
    }

  .active {
    color: #151515;
  }
  