.panning {
    visibility: hidden;
    position: absolute;
    transition: .5s ease all;
    top: 0%;
    z-index: 0;
    width: 500px;
    height: 1000px;
    background-color: black;
  }
  
  .panning.on {
    animation: slide-in 0.5s ease-in-out;
    visibility: visible;
  }
  
  .panning.off {
    animation: slide-out 0.5s ease-in-out;
    visibility: hidden;
  }
  
  @keyframes slide-in {
    0% {
      transform: translateX(-100%);
      opacity: 0;
      z-index: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
      z-index: 3;
    }
  }
  
  @keyframes slide-out {
    0% {
      transform: translateX(0);
      opacity: 1;
      z-index: 3;
    }
    100% {
      transform: translateX(-100%);
      opacity: 0;
      z-index: 0;
    }
  }
  